/* Reset styles for all elements */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Define custom CSS variables */
:root {
    --secondary-color: #151226;
    --contrast-color: #BF307F;
}

/* Overlay styles */
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    z-index: -10;
    background-color: var(--contrast-color);
}

/* Container styles */
.container {
    display: flex;
    height: 100vh;
    justify-content: space-around;
    align-items: center;
    color: #fff;
    animation: expand .8s ease forwards;
    background-color: var(--secondary-color);
    position: relative;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    transition: all .8s ease;
}

.container_content {
    width: 50%;
}

.container_content_inner {
    width: 80%;
    margin-left: 80px;
}

.container_outer_img {
    margin: 50px;
    width: 50%;
    overflow: hidden;
}

.container_img {
    width: 100%;
    animation: slideIn 1.5s ease-in-out forwards;
}

.par {
    height: auto;
    overflow: hidden;
}

p {
    line-height: 28px;
    transform: translateY(300px);
    animation: slideUp .8s ease-in-out forwards .8s;
}

.btns {
    height: 100%;
    position: relative;
    width: 150px;
    overflow: hidden;
}

.btns_more {
    background: transparent;
    border: 1px solid var(--contrast-color);
    border-radius: 50px;
    padding: 8px 12px;
    color: #BF307F;
    font-size: 16px;
    text-transform: uppercase;
    position: relative;
    margin-top: 15px;
    outline: none;
    transform: translateY(50px);
    animation: slideUp .8s ease-in-out forwards 1s;
}

.home-button {
    position: fixed;
    top: 30vh;
    ;
    display: inline-block;
    padding: 10px 20px;
    background-color: #3498db;
    color: #ffffff;
    text-decoration: none;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s, transform 0.2s;
}

/* Change button color and scale on hover */
.home-button:hover {
    background-color: #2980b9;
    transform: scale(1.05);
}

.title {
    overflow: hidden;
    height: auto;
}

h1 {
    font-size: 40px;
    color: var(--contrast-color);
    margin-bottom: 20px;
    transform: translateY(100px);
    animation: slideUp .8s ease forwards .5s;
}

/* Keyframe animations */
@keyframes slideIn {
    0% {
        transform: translateX(500px) scale(.2);
    }

    100% {
        transform: translateX(0px) scale(1);
    }
}

@keyframes slideUp {
    0% {
        transform: translateY(300px);
    }

    100% {
        transform: translateY(0px);
    }
}

@keyframes expand {
    0% {
        transform: translateX(1400px);
    }

    100% {
        transform: translateX(0px);
    }
}

/* Additional keyframe animation for slideIn */
@keyframes slideIn {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

/* Styling for various elements in the document */
body,
h1,
h2,
h3,
p {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #123;
    color: #333;
}

header {
    background-color: #306;
    color: #fff;
    border-radius: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    margin-bottom: 2rem;
    text-align: center;
    padding: 2rem 0;
}

.dropbtn {
    background-color: #0A5;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

.dropdown {
    position: sticky;
    left: 200vh;
    top: 20vh;
    display: inline-block;
    opacity: 1;
}

.dropdown-content {
    display: none;
    position: relative;
    background-color: #03f;
    opacity: 0.8;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: white;
    padding: 6px 8px;
    text-decoration: none;
    display: block;
    position: relative;
}

.dropdown-content a:hover {
    background-color: #ddd;
    color: black;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

header h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: left;
    margin-left: -2rem;
    margin-top: 1rem;
    font-size: 1.5rem;
}

nav li {
    margin: 0 0.5rem;
}

nav a {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    overflow: hidden;
    text-decoration: none;
    color: #aaa;
    transition: color 0.3s ease;
}

nav a:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 50%;
    right: 50%;
    bottom: 0;
    background: #2098D1;
    height: 4px;
    transition-property: left, right;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
}

nav a:hover:before,
nav a:focus:before,
nav a:active:before {
    left: 0;
    right: 0;
}

nav a:hover {
    color: #3fc;
}

main {
    padding: 0;
}

section {
    background-color: #0b9;
    border-radius: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    margin-bottom: 2rem;
    color: #000;
}

.timeline li {
    position: relative;
    margin-bottom: 2rem;
}

.timeline h3 {
    color: #000;
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.timeline p {
    color: #777;
}

.timeline:before {
    content: "";
    position: relative;
    top: 0;
    left:

        1rem;
    width: 4px;
    height: 100%;
    background-color: #f76f8e;
}

footer {
    background-color: #2c3e50;
    color: #fff;
    text-align: center;
    font-size: 0.9rem;
    padding: 1.5rem 0;
}

.home-button {
    position: fixed;
    left: 20px;
    /* Adjust the left position as needed */
    top: 20px;
    /* Adjust the top position as needed */
    font-size: 24px;
    /* Adjust the font size as needed */
    color: #ffffff;
    /* Adjust the color as needed */
    text-decoration: none;
    z-index: 1000;
    /* Ensure the button appears above other content */
}